body > header {
  margin-bottom: 1rem;
  font-weight: 700;
  font-size: 1rem;
  border-bottom: 1px solid slightly-light-color;
  font-family: "Noto Serif", "Noto Serif SC", serif;
}
body > header ul {
  padding: 0;
  margin: 0 0 0.5rem;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  overflow: auto;
  scrollbar-width: none;
  white-space: nowrap;
}
body > header ul li {
  flex: 0 0 auto;
  white-space: nowrap;
}
body > header ul li a {
  text-decoration: none;
  color: light-color;
}
hover-text {
  color: #000; /* 默认颜色 */
  transition: color 0.1s; /* 可选的颜色过渡效果 */
}
.hover-text:hover {
  color: link-color;
/* 鼠标悬停颜色 */
}
