body {
  width: 800px;
}
img {
  width: 100%;
  display: block;
}
.theme-list li a {
  font-size: 14px;
}
.custom-cursor:hover {
/* url('图像路径') x y, 备用光标 */
  cursor: url("/images/cursor.png") 16 16, pointer;
}
